h2 Cadastro de cervejas

    p {{ msg }}

    form(
        action='',
        method="post")
        legend Cria a cerva aí, Mano
        label
            input(type="text", placeholder="Nome", data-ng-model="cerveja.name")

        label
            input(type="text", placeholder="Preço", data-ng-model="cerveja.price")

        label
            input(type="text", placeholder="Categoria", data-ng-model="cerveja.category")

        label
            input(type="text", placeholder="Alcool", data-ng-model="cerveja.alcohol")

        label
            input(type="text", placeholder="Descrição", data-ng-model="cerveja.description")

        button(data-ng-click="criar()") CRIAR

